.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#scale{
      position:absolute;  
    z-index:1;
}

#canvas{
      position:relative;
      width:800px;
      height:136.97px;  
    z-index:20;
}



.bar {
    padding-top: 2em;
    display: flex;
    align-items: center;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    margin: auto;
}



.choice {
    width: 10em;
    height: 8em;
    font-size: 1em;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice .text {
  /* border-top: solid; */
  padding-top: 0.5em;
  line-height: 1.25em;
}

.choice-circle {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: solid;
    margin-bottom: 0.5em;
}

.choice-circle.empty-circle {
    background-color: transparent;
}

.choice-circle.filled-circle {
    background-color: red;
}

.sv_body {
    text-align: left;
}

.jspsych-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
